<nav class="p-4 bg-black">
  <div class="container mx-auto">
    <div class="flex justify-between">
      <div>
        <%= link_to 'Home', root_path, class: 'text-white hover:text-gray-300' %>
        <%= link_to 'Authors', authors_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Books', books_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Users', users_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Doctors', doctors_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Patients', patients_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Physicians', physicians_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Appointments', appointments_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Suppliers', suppliers_path, class: 'text-white hover:text-gray-300 ml-4' %>
        <%= link_to 'Accounts', accounts_path, class: 'text-white hover:text-gray-300 ml-4' %>
      </div>
    </div>
  </div>
</nav>
